{% extends 'main/index.html' %}
{% load static %}
{% block title %}
    Groups
{% endblock %}
{% block content %}
    <div class="main">
        <div class="group_form">
            <form method="post">
                {% csrf_token %}
                Group name <br>
                {{ form.name }} <br>
                Group description <br>
                {{ form.description }} <br>
                <span>{{ error }}</span>
                <button type="submit">Create Group</button>
            </form>
        </div>
        <div class="users_upper">
            <div>Group id</div>
            <div>Group Name</div>
            <div>Group description</div>
            <div>Update group</div>
            <div>Delete group</div>
        </div>
        <div class="users_lower">
            {% for el in all_groups %}
                <div class="users">
                    <div>{{ el.id }}</div>
                    <div>{{ el.name }}</div>
                    <div>{{ el.description }}</div>
                    <div><a href="{% url 'edit_group' el.id %}">UPDATE</a></div>
                    <div><a href="{% url 'delete_group' el.id %}">DELETE</a></div>
                </div>
            {% endfor %}
        </div>
    </div>
    </div>

{% endblock %}
