{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'main.css' %}">
</head>
<body>
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 bg-white border-bottom shadow-sm">
    <h3 class="my-0 mr-md-auto font-weight-normal">Fried Potato</h3>
    <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="{% url 'users' %}">Users</a>
        <a class="p-2 text-dark" href="{% url 'groups' %}">Groups</a>

    </nav>
    <a class="btn btn-outline-primary" href="{% url 'create_user' %}">Create User</a>
    <a class="btn btn-outline-primary" href="{% url 'create_group' %}">Create Group</a>
</div>

<div class="main">
    {% block content %}
    {% endblock %}
    {% if messages %}
        <div>
            {% for message in messages %}
                {% if message.tags %} {% endif %}
                {{ message }}
            {% endfor %}
        </div>
    {% endif %}
</div>

</body>
</html>
